<!-- /templates/index.html (updated) -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defender Central</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <!-- Testing VirusTotalAPI and Zenrows -->
    <!-- Tested Malicious URL: hxxps://papiculo[.]net/unmiconfig.json -->
    <!-- Compatible URL: https://www.fortinet.com/blog/threat-research/malicious-pypi-packages-deploy-coinminer-on-linux-devices -->

    <h1>Testing VirusTotal and AlienVault APIs</h1>
    <form id="scanForm">
        <label for="urlInput">Enter URL to scan:</label>
        <input type="text" id="urlInput" name="url" required>
        <button type="button" onclick="scanURL()">Scan</button>
    </form>

    <div id="resultContainer" style="display: none;">
        <h2>Scan Results</h2>
        <pre id="scanResults"></pre>
        <h2>Analysis Report</h2>
        <pre id="analysisReport"></pre>
        <h2>Community Comments</h2>
        <pre id="communityComments"></pre>
        <h2>Zenrows Analysis</h2>
        <pre id="zenrowsAnalysis"></pre>
    </div>
    
    <script>
        function scanURL() {
            var url = $('#urlInput').val();

            $.ajax({
                type: 'POST',
                url: '/scan_url',
                data: { url: url },
                success: function (data) {
                    $('#scanResults').text(JSON.stringify(data.results, null, 2));
                    $('#analysisReportContainer').hide();
                    $('#communityCommentsContainer').hide();
                    $('#zenrowsAnalysisContainer').hide();
                    $('#resultContainer').show();

                    var analysisId = data.results.data.id.split('-')[1];

                    // Fetch analysis report after scanning
                    $.ajax({
                        type: 'GET',
                        url: '/get_analysis_report',
                        data: { analysisId: analysisId },  // Pass the analysisId as a parameter
                        success: function (analysisReport) {
                            // Display only last_analysis_stats
                            var lastAnalysisStats = analysisReport.data.attributes.last_analysis_stats;
                            console.log(lastAnalysisStats);

                            if (lastAnalysisStats.malicious >= 1) {
                                // Perform action for malicious content
                                console.log("Malicious content detected!");
                                $('#analysisReport').text(JSON.stringify({ last_analysis_stats: lastAnalysisStats }, null, 2));
                                $('#analysisReport').append('<br/>Malicious content detected!');
                                $('#analysisReportContainer').show();
                                //searchPulses(url);
                                fetchCommunityComments(analysisId, url);
                                // Perform additional actions as needed
                            } else {
                                // Content is clean
                                console.log("Content is clean.");
                                $('#analysisReport').text(JSON.stringify({ last_analysis_stats: lastAnalysisStats }, null, 2));
                                $('#analysisReport').append('<br/><br/>Content is clean.');
                                $('#analysisReportContainer').show();
                            }
                        },
                        error: function (error) {
                            console.error('Error fetching analysis report:', error);
                            alert('Failed to fetch analysis report. Please try again.');
                        }
                    });
                },
                error: function (error) {
                    console.error('Error scanning URL:', error);
                    alert('Failed to scan URL. Please try again.');
                }
            });
        }

        function fetchCommunityComments(analysisId, url) {
            $.ajax({
                type: 'GET',
                url: '/get_community_comments',
                data: { analysisId: analysisId }, 
                success: function (communityComments) {
                    // Check if count is 0
                    if (communityComments.meta.count === 0) {
                        // Send AJAX request to trigger search_pulses function in Python
                        searchPulses(url);
                    } else {
                        // Extract and display only the URL from community comments
                        console.log("Comments", communityComments);
                        var foundComment = false;
                        for (var i = 0; i < communityComments.meta.count; i++) {
                            var commentText = communityComments.data[i].attributes.text;
                            //var match = commentText.match(/Reference: (https:\/\/[^\s]+)/);
                            var match = commentText.match(/Reference: (https?:\/\/[^\s]+)/);
                            if (match) {
                                var virusTotalURL = match[1];
                                foundComment = true;
                                if (!virusTotalURL.endsWith(".txt")) {
                                    $('#communityComments').text(virusTotalURL);
                                    $('#communityCommentsContainer').show();
                                    processReference(virusTotalURL);
                                    //processReference(virusTotalURL);
                                } else {
                                    searchPulses(url);
                                }
                                break;
                            }
                        }
                        if (foundComment === false) {
                            searchPulses(url);
                        }
                        //processReference(urlReference)
                    }
                },
                error: function (error) {
                    console.error('Error fetching community comments:', error);
                    alert('Failed to fetch community comments. Please try again.');
                }
            });
        }

        function searchPulses(url) {
            $.ajax({
                type: 'POST',
                url: '/search_pulses',
                contentType: 'application/json',
                data: JSON.stringify({ url: url }),
                success: function (response) {
                    $('#communityComments').text(response);
                    $('#communityCommentsContainer').show();
                    processReference(response);
                },
                error: function (error) {
                    console.error('Error searching pulses:', error);
                    alert('Failed to search pulses. Please try again.');
                }
            });
        }

        function processReference(urlReference) {
            console.log("Reference URL:", urlReference);
            // Ramis ChatGPT & Newspaper extraction
            $.ajax({
                type: 'GET',
                url: '/get_reference_data?url=' + encodeURIComponent(urlReference),
                success: function (response) {
                    $('#zenrowsAnalysis').text(JSON.stringify(response.relevant_info, null, 2));
                    $('#zenrowsAnalysisContainer').show();
                },
                error: function (error) {
                    console.error('Error fetching Zenrows analysis:', error);
                    alert('Failed to fetch Zenrows analysis. Please try again.');
                }
            });
        }
    </script>
</body>

</html>